@media screen and (min-width: 992px) {
  #offer-banner-carousel .carousel-item .mask {
    position:  absolute;
    top:  0;
  	left: 0;
  	height: 100%;
    width:  100%;
    background-attachment:  fixed;
    margin-bottom: 0px; 
  }
  #offer-banner-carousel h4 {
  	font-size: 50px;
  	margin-bottom: 15px;
  	color: #000000;
  	line-height: 100%;
  	letter-spacing: 0.5px;
  	font-weight: 600;
  }
  #offer-banner-carousel p {
  	font-size: 28px;
  	margin-bottom: 15px;
  	color: #000000;
  }
  #offer-banner-carousel .carousel-item a {
  	background: #F47735; 
  	font-size: 14px; 
  	color: #000000; 
  	padding: 13px 32px; 
  	display: inline-block;
    text-decoration: none;
  }
  #offer-banner-carousel .carousel-item a:hover {
  	text-decoration: none;  
  }
  #offer-banner-carousel .carousel-item h4 {
  	-webkit-animation-name: fadeInLeft; 
  	animation-name: fadeInLeft;
  } 
  #offer-banner-carousel .carousel-item p {
  	-webkit-animation-name: slideInRight; 
  	animation-name: slideInRight;
  } 
  #offer-banner-carousel .carousel-item a {
  	-webkit-animation-name: fadeInUp; 
  	animation-name: fadeInUp;
  }
  #offer-banner-carousel .carousel-item .mask img {
  	-webkit-animation-name: slideInRight; 
  	animation-name: slideInRight; 
  	display: block; 
  	height: auto; 
  	max-width: 100%;
  }
  #offer-banner-carousel h4, 
  #offer-banner-carousel p, 
  #offer-banner-carousel a, 
  #offer-banner-carousel .carousel-item .mask img {
  	-webkit-animation-duration:  1s;
      animation-duration:  1.2s;
      -webkit-animation-fill-mode:  both;
      animation-fill-mode:  both;
  }
  #offer-banner-carousel .container {
  	max-width:  1430px;  
  }
  #offer-banner-carousel .carousel-item {
  	height: 100%; 
  	min-height: 550px; 
  }
  #offer-banner-carousel {
  	position: relative; 
  	z-index: 1; 
  	background-image: url("https: //i.imgur.com/6axE29k.jpg"); 
  	background-size: cover; 
  }
}
@supports (transform-style: preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform:  translate3d(0,0,0);
    transform:  translate3d(0,0,0);
} 
@-webkit-keyframes fadeInLeft {
  from {
    opacity:  0;
    -webkit-transform:  translate3d(-100%, 0, 0);
    transform:  translate3d(-100%, 0, 0);
  }

  to {
    opacity:  1;
    -webkit-transform:  translate3d(0, 0, 0);
    transform:  translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity:  0;
    -webkit-transform:  translate3d(-100%, 0, 0);
    transform:  translate3d(-100%, 0, 0);
  }

  to {
    opacity:  1;
    -webkit-transform:  translate3d(0, 0, 0);
    transform:  translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  -webkit-animation-name:  fadeInLeft;
  animation-name:  fadeInLeft;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity:  0;
    -webkit-transform:  translate3d(0, 100%, 0);
    transform:  translate3d(0, 100%, 0);
  }

  to {
    opacity:  1;
    -webkit-transform:  translate3d(0, 0, 0);
    transform:  translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity:  0;
    -webkit-transform:  translate3d(0, 100%, 0);
    transform:  translate3d(0, 100%, 0);
  }

  to {
    opacity:  1;
    -webkit-transform:  translate3d(0, 0, 0);
    transform:  translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name:  fadeInUp;
  animation-name:  fadeInUp;
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform:  translate3d(100%, 0, 0);
    transform:  translate3d(100%, 0, 0);
    visibility:  visible;
  }

  to {
    -webkit-transform:  translate3d(0, 0, 0);
    transform:  translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform:  translate3d(100%, 0, 0);
    transform:  translate3d(100%, 0, 0);
    visibility:  visible;
  }

  to {
    -webkit-transform:  translate3d(0, 0, 0);
    transform:  translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation-name:  slideInRight;
  animation-name:  slideInRight;
}
@media screen and (max-width: 600px) {
  #offer-banner-carousel .carousel-item .mask {
    position:  absolute;
    top:  0;
    left: 0;
    height: 100%;
    width:  100%;
    background-attachment:  fixed;
    margin-bottom: 0px; 
  }
  #offer-banner-carousel h4 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #000000;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  #offer-banner-carousel p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #000000;
  }
  #offer-banner-carousel .carousel-item a {
    background: #F47735; 
    font-size: 14px; 
    color: #000000; 
    padding: 13px 32px; 
    display: inline-block;
    text-decoration: none; 
  }
  #offer-banner-carousel .carousel-item a:hover {
    text-decoration: none; 
  }
  #offer-banner-carousel .carousel-item h4 {
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;
  } 
  #offer-banner-carousel .carousel-item p {
    -webkit-animation-name: slideInRight; 
    animation-name: slideInRight;
  } 
  #offer-banner-carousel .carousel-item a {
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp;
  }
  #offer-banner-carousel .carousel-item .mask img {
    -webkit-animation-name: slideInRight; 
    animation-name: slideInRight; 
    display: block; 
    height: auto; 
    max-width: 100%;
  }
  #offer-banner-carousel h4, 
  #offer-banner-carousel p, 
  #offer-banner-carousel a, 
  #offer-banner-carousel .carousel-item .mask img {
    -webkit-animation-duration:  1s;
      animation-duration:  1.2s;
      -webkit-animation-fill-mode:  both;
      animation-fill-mode:  both;
  }
  #offer-banner-carousel .container {
    max-width:  1430px;  
  }
  #offer-banner-carousel .carousel-item {
    height: 100%; 
    min-height: 550px; 
  }
  #offer-banner-carousel {
    position: relative; 
    z-index: 1; 
    background-image: url("https: //i.imgur.com/6axE29k.jpg"); 
    background-size: cover; 
  }
}
@media screen and (min-width: 768px) {
  #offer-banner-carousel .carousel-item .mask {
    position:  absolute;
    top:  0;
    left: 0;
    height: 100%;
    width:  100%;
    background-attachment:  fixed;
    margin-bottom: 0px; 
  }
  #offer-banner-carousel h4 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #000000;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  #offer-banner-carousel p {
    font-size: 20px;
    margin-bottom: 15px;
    color: #000000;
  }
  #offer-banner-carousel .carousel-item a {
    background: #F47735; 
    font-size: 14px; 
    color: #000000; 
    padding: 13px 32px; 
    display: inline-block;
    text-decoration: none; 
  }
  #offer-banner-carousel .carousel-item a:hover {
    text-decoration: none; 
  }
  #offer-banner-carousel .carousel-item h4 {
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;
  } 
  #offer-banner-carousel .carousel-item p {
    -webkit-animation-name: slideInRight; 
    animation-name: slideInRight;
  } 
  #offer-banner-carousel .carousel-item a {
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp;
  }
  #offer-banner-carousel .carousel-item .mask img {
    -webkit-animation-name: slideInRight; 
    animation-name: slideInRight; 
    display: block; 
    height: auto; 
    max-width: 100%;
  }
  #offer-banner-carousel h4, 
  #offer-banner-carousel p, 
  #offer-banner-carousel a, 
  #offer-banner-carousel .carousel-item .mask img {
    -webkit-animation-duration:  1s;
      animation-duration:  1.2s;
      -webkit-animation-fill-mode:  both;
      animation-fill-mode:  both;
  }
  #offer-banner-carousel .container {
    max-width:  1430px;  
  }
  #offer-banner-carousel .carousel-item {
    height: 100%; 
    min-height: 550px; 
  }
  #offer-banner-carousel {
    position: relative; 
    z-index: 1; 
    background-image: url("https: //i.imgur.com/6axE29k.jpg"); 
    background-size: cover; 
  }
}